.root {
    -fx-background-color:lightgray;
}

.button {
    -fx-pref-width: 40pt;
    -fx-padding: 10pt;
    -fx-font-size: 14pt "Courier New";
}

.numpad-zero-button {
    .button;
    -fx-pref-width: 80pt;
}

.operation-button {
    .button;
    -fx-body-color: linear-gradient(orange, #FFA000);
 }

 .operation-button:hover {
     .operation-button;
     -fx-body-color: linear-gradient(orange, #FFB000);
  }

.output-text-field {
    -fx-pref-width: 120pt;
    -fx-background-color:transparent;
    -fx-alignment: center-right;
    -fx-font-size: 16pt "Courier New";
}
