.root {
    -fx-background-color:lightgray;
}

.action-button {
}

.operation-button {
     -fx-background-color: lightgray, #FFA500 lightgray;
     -fx-fill-color: lightgray;
 }

 .operation-button:focused {
     -fx-background-color: blue, #FFA500 blue;
     -fx-fill-color: lightgray;
 }

.output-text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-pref-width: 230;
    -fx-alignment: center-right;
}
